@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .rating-btn-comp{
        @apply h-11 w-12 shadow-sm cursor-pointer bg-mediumGreyA rounded-full text-lightGrey flex justify-center items-center lg:hover:bg-lightGrey lg:hover:text-white transition delay-100 font-semibold outline-0

    }
};

@layer base {
    @font-face{
        font-family: 'Overpass-Regular';
        src: url('./fonts/Overpass-Regular.ttf') format("ttf");
    }
};
@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
}